## Unity generated folders
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/

## Unity cache & profiling
/ScriptAssemblies/
/sysinfo.txt
/Artifacts/
/CrashReports/

## Rider / VS / VSCode
.vs/
.idea/
*.user
*.suo
*.userprefs
*.csproj
*.unityproj
*.sln
*.sln.dotSettings

## OS-specific
.DS_Store
Thumbs.db

## Misc
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
